* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  overflow-x: hidden;
}

.container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(
      rgba(58, 57, 16, 0.6),
      rgba(17, 10, 54, 0.2)
    ),
    url("homee1.avif") center center / cover no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 40px 20px;
}

/* Heading */
.heading span {
  font-size: 3.5rem;
  color: rgb(56, 34, 2);
  margin-bottom: 20px;
}

.heading input[type="text"] {
  padding: 12px 20px;
  font-size: 1rem;
  width: 100%;
  max-width: 400px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Table Section */
.info {
  margin: 40px 20px;
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: rgb(153, 150, 126);
  min-width: 600px;
}

td, th {
  padding: 16px;
  text-align: left;
  border: 1px solid #eeeedb;
  font-size: 1rem;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

/* MEDIA QUERIES */
@media (max-width: 768px) {
  .heading span {
    font-size: 2rem;
  }

  .heading input[type="text"] {
    font-size: 0.9rem;
  }

  td, th {
    font-size: 0.9rem;
    padding: 12px;
  }
}

@media (max-width: 480px) {
  .heading span {
    font-size: 1.6rem;
  }

  .heading input[type="text"] {
    font-size: 0.85rem;
    padding: 10px 16px;
  }

  td, th {
    font-size: 0.8rem;
    padding: 10px;
  }
}
.user-controls {
  display: flex;
  justify-content: left;
  
  gap: 15px;
  background-color: #4d4837;
}

.user-controls button {
  padding: 16px 26px;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-left: 5px;
  background-color:  rgb(153, 150, 126);
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.profile-box {
  background-color: rgb(153, 150, 126);
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px #aaa;
}
